.chessPieces {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.chessPieces__text {
  color: rgba(0,0,0,0);
  height: 50px;
  width: 50px;
}

.r {
  background-image: url("../../icons/chess-rook-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.n {
  background-image: url("../../icons/chess-knight-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.b {
  background-image: url("../../icons/chess-bishop-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.q {
  background-image: url("../../icons/chess-queen-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.k {
  background-image: url("../../icons/chess-king-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
}


.p {
  background-image: url("../../icons/chess-pawn-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.P {
  background-image: url("../../icons/chess-pawn-solid-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.R {
  background-image: url("../../icons/chess-rook-solid-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.N {
  background-image: url("../../icons/chess-knight-solid-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.B {
  background-image: url("../../icons/chess-bishop-solid-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.Q {
  background-image: url("../../icons/chess-queen-solid-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.K {
  background-image: url("../../icons/chess-king-solid-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}
